.app-root {
  display: flex;
  flex: 1;
  min-height: 0px;
  min-width: 0px;

  .app-root--route {
    @apply flex;
    @apply py-3;
    @apply px-5;
    @apply opacity-50;
    @apply transition;

    &:not(:last-child) {
      @apply mb-3;
    }

    &.active {
      box-shadow: inset -10px 0 0 -7px theme('colors.blue.500');

      @apply opacity-100;
    }

    &:hover {
      @apply opacity-100;
    }

    span {
      @apply flex-1;
      @apply text-start;
      @apply ml-2;
    }
  }
}
